<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메타세콤</title>
  </head>
  <body>
    메타세콤입니다.
    <img src="../uploads/wait.gif" />
    <button id="open">열기</button><button id="close">닫기</button>
    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js">
      // import axios from "axios";
      // const img = document.querySelector("img");
      // const btns = document.querySelectorAll("button");
      // btns[0].addEventListener("click", async () => {
      //   try{
      //     const sendOpenData = await axios.post("/btn", "open");
      //     console.log(sendOpenData);
      //   }catch(error){
      //     console.log(error);
      //   }
      // });
      // btns[1].addEventListener("click", () => {
      //   console.log("hello");
      // });
    </script> -->
  </body>
</html>
