<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="#" />
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-
    to-fit=no"
    />
    <!-- Bootstrap CDN -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"
    ></script>
    <title>로그인</title>
  </head>
  <body>
    <main class="form-signin w-100 m-auto">
      <form id="form">
        <img
          class="mb-4"
          src="../public/logo.png"
          alt=""
          width="72"
          height="57"
        />
        <h1 class="h3 mb-3 fw-normal">Please sign up</h1>

        <div class="form-floating">
          <label for="floatingInput">Id</label>
          <input
            type="text"
            class="form-control"
            id="floatingInput"
            placeholder="아이디를 입력해 주세요"
            required
          />
        </div>
        <div class="form-floating">
          <label for="floatingPassword">Password</label>
          <input
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="6자 이상 비밀번호를 입력해 주세요"
            required
          />
        </div>
        <div class="form-floating">
          <label for="ConfirmPassword">Confirm Password</label>
          <input
            type="password"
            class="form-control"
            id="ConfirmPassword"
            placeholder="비밀번호를 한번 더 입력해 주세요"
            required
          />
        </div>
        <div class="form-floating">
          <label for="Name">Name</label>
          <input
            type="text"
            class="form-control"
            id="Name"
            placeholder="2자 이상 한글만 입력해주세요"
            required
            pattern="^[ㄱ-ㅎ|가-힣]+$"
          />
        </div>
        <div class="form-floating">
          <label for="PhoneNumber">Phone Number</label>
          <input
            type="number"
            class="form-control"
            id="PhoneNumber"
            placeholder="ex)01099426866"
            required
          />
        </div>
        <button
          id="signupBtn"
          class="w-100 btn btn-lg btn-primary"
          type="submit"
          onclick="formData()"
        >
          Sign up
        </button>
        <p class="mt-5 mb-3 text-muted">&copy;by 박태환, 박승규, 이상훈</p>
      </form>
    </main>
    <script>
      function formData() {
        let userIdd = document.getElementById("floatingInput")
        let passwordd = document.getElementById("floatingPassword")
        let ConfirmPasswordd = document.getElementById("ConfirmPassword")
        let Namee = document.getElementById("Name")
        let PhoneNumberr = document.getElementById("PhoneNumber")

        if (passwordd.value.length < 6) {
            passwordd.setCustomValidity("비밀번호는 6자 이상이어야 합니다")
        } else {
            passwordd.setCustomValidity("");
        }
        if (passwordd.value.length < 6) {
            passwordd.setCustomValidity("비밀번호는 6자 이상이어야 합니다")
        } else {
            passwordd.setCustomValidity("");
        }
        if (passwordd.value !== ConfirmPasswordd.value) {
          ConfirmPasswordd.setCustomValidity("패스워드가 일치하지 않습니다");
        } else {
          ConfirmPasswordd.setCustomValidity("");
        }
        if(Namee.value.length < 2){
          Namee.setCustomValidity("이름은 두글자 이상이어야 합니다.")
        } else {
          Namee.setCustomValidity("");
        }
        if(PhoneNumberr.value.length !== 11){
          PhoneNumberr.setCustomValidity("휴대번호는 -없이 11자리 숫자로 입력해 주세요 ex)01099426866")
        } else {
          PhoneNumberr.setCustomValidity("");
        }
      }
      
      if (localStorage.getItem("id")) {
        window.location.href = "/main";
      }

      const form = document.getElementById("form");
      form.addEventListener("submit", async (e) => {
        try {
          e.preventDefault();
          const userId = e.target.floatingInput.value;
          const password = e.target.floatingPassword.value;
          const name = e.target.Name.value;
          const PhoneNumber = e.target.PhoneNumber.value;
          const signup = await axios
          .post("http://localhost:8002/sign/signup", {
            id : userId,
            password : password,
            name : name,
            phone : PhoneNumber,
          })
          .then(async (response)=> {
            window.location.href = "/";
          });
        } catch (error) {
          console.log(error);
          if (error.response.status == 400) {
            alert("아이디 및 비밀번호를 다시 입력해 주세요");
          } else {
            alert("알 수 없는 오류");
          }
        }
      });
    </script>
  </body>
  <style>
    body {
      height: 100%;
    }

    body {
      display: flex;
      padding-top: 40px;
      padding-bottom: 40px;
      background-color: #f5f5f5;
    }
    input {
      align-items: center;
    }
    .form-signin {
      max-width: 330px;
      padding: 15px;
    }

    .form-signin .form-floating:focus-within {
      z-index: 2;
    }

    .form-signin input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    #signupBtn {
      margin-top: 10%;
    }
  </style>
</html>
